@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<br />

<p>This web Application is done by Simo Siren from Finland as
    an exercise on Power BI course to publish data visualisation on website.</p>
<p>Done by using ASP.NET MVC, Azure cloud servises and Microsoft Power BI desktop pro</p>
