@{
    ViewBag.Title = "Home Page";
}

<!-- Pilot service  -->
<div style="margin-bottom: 30px; padding: 10px; border-style: dotted; border-bottom-left-radius: 30px; border-bottom-right-radius: 30px; margin-top: 30px; color:brown; font-size:20px ">
    <p> NEW! Pilot service For Finnish users:<br />As a result of new go operation with DarkSky API and MapBox service</p>
    <p> Weather Search by makers of Sales Intelligence: <a href="https://simon-saapalvelu.herokuapp.com/" class="btn btn-primary btn-md">Check out weather NOW!</a></p>
</div>

<!-- PÄÄOTSIKKO -->
<h1 style="color:blue; margin-bottom: 40px;
 font-family: 'HoloLens MDL2 Assets'; font-size: 90px;">
    $ales Intelligence Data Insight
</h1>


<h2 style="color:darkblue; margin-bottom: 10px;">Food division sales by segment</h2>
<iframe width="900" height="600" src="https://app.powerbi.com/view?r=eyJrIjoiNTliZDk4ZWItYWJhOC00MWNmLWE2MDUtNDJjYTRkMGQwOWQ3IiwidCI6IjA5OTJjN2Y3LWMyMTAtNDdjNC05MDllLWYxMTJkOWY5MDdhMCIsImMiOjh9" frameborder="0" allowFullScreen="true"></iframe>


<h2 style="color:darkblue; margin-bottom: 10px;">Tech division key customers insight</h2>
<h3 style="color:orangered;">Recent orders made by key private IoT inventor customers</h3>
<iframe width="900" height="600" src="https://app.powerbi.com/view?r=eyJrIjoiNzQ0ODg3ODMtNDEyYi00NzJlLWI3ZGUtZTU3NGVlNGRlY2ZhIiwidCI6IjA5OTJjN2Y3LWMyMTAtNDdjNC05MDllLWYxMTJkOWY5MDdhMCIsImMiOjh9" frameborder="0" allowFullScreen="true"></iframe>


<h1 style="color:red; margin-bottom: 20px;">1st thing to improve</h1>
<h3 style="color:red;">Stock volume is way too high compared to orderbook and causes to low Return Of Capital Employed </h3>
<h4><a href="https://www.investopedia.com/terms/r/roce.asp">Learn more about ROCE</a></h4>


<h2 style="color:orangered;">Food division stock / order balance</h2>
<iframe width="900" height="600" src="https://app.powerbi.com/view?r=eyJrIjoiYjJlYjRkNGUtMzQ2NS00NWJkLTkxNmItYWQ0OWM2ZjA5N2EwIiwidCI6IjA5OTJjN2Y3LWMyMTAtNDdjNC05MDllLWYxMTJkOWY5MDdhMCIsImMiOjh9" frameborder="0" allowFullScreen="true"></iframe>


<h1 style="color:saddlebrown; margin-bottom: 10px;">Lift of the month</h1>
<h2 style="color:darkblue; margin-bottom: 10px;">One office is above others in Finland</h2>
<iframe width="933" height="700" src="https://app.powerbi.com/view?r=eyJrIjoiYzY1ZDI0M2MtNTk4OC00MDBhLTg5YWMtMzk1NjUwMzM4YTNjIiwidCI6IjA5OTJjN2Y3LWMyMTAtNDdjNC05MDllLWYxMTJkOWY5MDdhMCIsImMiOjh9" frameborder="0" allowFullScreen="true"></iframe>